## Detalles API

https://www.ree.es/es/datos/apidatos

In [ ]:
from api import ree_api

category = 'demanda' 
widget = 'evolucion' 


start_date = '2019-01-01T00:00' #yyyy-mm-dd
end_date = '2019-02-01T00:00'
time_trunc = 'day'

def lim2id(geo_lim):
    if geo_lim == 'peninsular':
        return 8741
    elif geo_lim == 'canarias':
        return 8742
    elif geo_lim == 'baleares':
        return 8743    
    # TODO seguir con esto

print(lim2id('baleares'))

geo_id = 8742

ree_stream = ree_api(category, widget)
df_canarias = ree_stream.query_ree_api(start_date, end_date, time_trunc, geo_id)

df_canarias

8743
Requesting URL: https://apidatos.ree.es/en/datos/demanda/evolucion
With parameters: {'self': <api.ree_api object at 0x144c9b980>, 'start_date': '2019-01-01T00:00', 'end_date': '2019-02-01T00:00', 'time_trunc': 'day', 'geo_ids': 8742, 'geo_trunc': None, 'geo_limit': None}

                              Demand
datetime
2019-01-01 00:00:00+01:00  21757.476
2019-01-02 00:00:00+01:00  24668.202
2019-01-03 00:00:00+01:00  24991.244
2019-01-04 00:00:00+01:00  25180.339
2019-01-05 00:00:00+01:00  23951.403
2019-01-06 00:00:00+01:00  21723.899
2019-01-07 00:00:00+01:00  23105.330
2019-01-08 00:00:00+01:00  24909.337
2019-01-09 00:00:00+01:00  25177.306
2019-01-10 00:00:00+01:00  25184.952
2019-01-11 00:00:00+01:00  25198.887
2019-01-12 00:00:00+01:00  24054.961
2019-01-13 00:00:00+01:00  22558.793
2019-01-14 00:00:00+01:00  24896.310
2019-01-15 00:00:00+01:00  25012.179
2019-01-16 00:00:00+01:00  25060.690
2019-01-17 00:00:00+01:00  25237.415
2019-01-18 00:00:00+01:00  25058.232
2019-01-19 00:00:00+01:00  23965.286
2019-01-20 00:00:00+01:00  22481.837
2019-01-21 00:00:00+01:00  24855.920
2019-01-22 00:00:00+01:00  24930.296
2019-01-23 00:00:00+01:00  25074.541
2019-01-24 00:00:00+01:00  25121.011
2019-01-25 00:00:00+01:00  25045.782
2019-01-26 00:00:00+01:00  23903.530
2019-01-27 00:00:00+01:00  22488.254
2019-01-28 00:00:00+01:00  24726.499
2019-01-29 00:00:00+01:00  24959.848
2019-01-30 00:00:00+01:00  25009.486
2019-01-31 00:00:00+01:00  25060.099
2019-02-01 00:00:00+01:00    823.664